.hero {
    background-image: url(../../assets/images/blanc-fond.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:
        linear-gradient(
            to right,
            rgba($color: #000000, $alpha: 0.2),
            rgba($color: #000000, $alpha: 0.7)
        ),
        url('../../assets/images/blanc-fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    h1,
    h2 {
        color: var(--color-white);
    }
    padding: 60px 120px;
    @media (width < $breakpoint-lg) {
        padding: 30px 30px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 45px;

        .titre-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    .grille-contenu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 75px;

        @media (width < $breakpoint-lg) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .media {
                border-radius: 100%;
                aspect-ratio: 1/1;
                order: -1;
                // width: 50%;
                // height: 50%;
                overflow: hidden;

                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            align-items: start;
            gap: 35px;

            @media (width < $breakpoint-lg) {
                .big {
                    width: 100%;
                }
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 25px;
            }

            .sous-titre {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 12px;

                color: var(--color-white);
                @media (width < $breakpoint-lg) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    h2 {
                        text-align: center;
                    }
                    h3 {
                        text-align: center;
                    }
                    p {
                        text-align: center;
                    }
                }
            }

            .buttons {
                width: 50%;
                @media (width < $breakpoint-sm) {
                    width: 100%;
                }
            }
        }
        .media {
            background-color: var(--color-primary);
            height: 90%;
            img {
                display: block;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.professionnel {
    // background-image: url(../../assets/images/vert-fond.png);
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image:
       /* linear-gradient(
            to right,
            rgba($color: #000000, $alpha: 0.2),
            rgba($color: #000000, $alpha: 0.7)
        ),*/ url('../../assets/images/vert-fond.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    background-color: var(--color-bg-primary);
    padding: 60px 120px;
    @media (width < $breakpoint-md) {
        padding: 30px 30px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
        @media (width < $breakpoint-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .content {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 175px;
            @media (width < $breakpoint-md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 24px;
            }

            .competences,
            .logiciels {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 25px;
                @media (width < $breakpoint-md) {
                    align-items: center;
                }

                color: var(--color-black);

                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 15px;
                    @media (width < $breakpoint-md) {
                        align-items: center;
                    }
                    li {
                        list-style-type: none;
                        font-family: var(--font-text);
                        font-size: var(--font-size-links);
                        font-weight: 300;
                    }
                }
            }
            .logiciels {
                align-items: flex-end;
                @media (width < $breakpoint-md) {
                    align-items: center;
                }
                ul {
                    align-items: flex-end;
                    @media (width < $breakpoint-md) {
                        align-items: center;
                    }
                }
            }
        }
    }
}
.prof-title,
.perso-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
.personnel {
    background-image: url(../../assets/images/blanc-fond.png);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    padding: 60px 120px;
    @media (width < $breakpoint-md) {
        padding: 30px 30px;
    }
    .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;

        color: var(--color-black);

        .tableau {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 60px;
            .interets {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                @media (width < $breakpoint-md) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 25px;
                    @media (width < $breakpoint-md) {
                        align-items: center;
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 15px;
                    li {
                        list-style-type: none;
                        font-family: var(--font-text);
                        font-size: var(--font-size-links);
                        font-weight: 300;
                    }
                }
            }
            .qualites {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 10px;
                @media (width < $breakpoint-md) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 15px;
                    order: 1;
                    @media (width < $breakpoint-md) {
                        align-items: center;
                        order: 0;
                    }
                }
                ul {
                    margin: 0;
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    gap: 15px;
                    @media (width < $breakpoint-md) {
                        align-items: center;
                    }
                    li {
                        list-style-type: none;
                        font-family: var(--font-text);
                        font-size: var(--font-size-links);
                        font-weight: 300;
                    }
                }
            }
        }

        .media {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 15px;
            height: 100%;

            img {
                height: 100%;
            }
        }
    }
}

//TEXTES

p {
    color: var(--color-white);
    font-family: var(--font-size-content);
    font-weight: 300;
    margin: 0;
}

.bold {
    font-weight: 700;
}
