/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Faustina', serif;
    --font-text: 'DM Sans', sans-serif;

    --font-size-content: #{typo(18px, 22px)};
    --font-size-links: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1-big: #{typo(48px, 64px)};
    --font-size-h1: #{typo(38px, 48px)};
    --font-size-h2: #{typo(26px, 34px)};
    --font-size-h3: #{typo(24px, 28px)};
    --font-size-h4: #{typo(16px, 24px)};
}
